# Normalizar finales de línea
* text=auto

# Forzar LF en código
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.css text eol=lf
*.html text eol=lf
*.json text eol=lf
*.md text eol=lf

# Archivos de Windows (si hubiera)
*.bat text eol=crlf